# Connexion Prisma vers PostgreSQL
DATABASE_URL="postgresql://rh_user:rh_password@localhost:5432/rh_db"

# JWT
JWT_SECRET="change_me_in_production"
JWT_EXPIRATION="numberDays"

# Port du serveur NestJS
PORT=3000